#gallery-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#gallery-container modal-image {
    max-width: 100%;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}