html {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, label, button, input, select, td {
	font-family: monospace;
}

body {
	min-height: 100vh;
	max-width: 100vw;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

main {
	padding-left: 32px;
	padding-right: 32px;
}

header {
	margin-top: 50px;
	text-align: center;
}

h1 a {
	text-decoration: none;
}

nav {
	display: flex;
	flex-flow: row nowrap;
	column-gap: 4ch;
	justify-content: center;
}

nav a {
	text-decoration: none;
	font-size: larger;
}

nav a[aria-current="page"] {
	text-decoration: underline;
}